.projectList{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3,1fr);
}
.card{
    position: relative;
    height: 380px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.description{
  position: absolute;
  top:20px;
  right: 20px;
  width: 128px;
  height: 128px;
  background: #313341;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}
.item-title{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  z-index: 30;
}
.background{
  background-color: #dfdfdf;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  border-radius: 6px;
}

.card::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  z-index: 20;
  
  opacity: 0.6;
  transition: 0.4s;
}
.card:hover::after{
  opacity: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}


@media (max-width: 1280px) {
  
  .projectList{
    
    margin: 0 20px;
    grid-template-columns: repeat(2,1fr);
}
}

@media (max-width: 950px) {
  .projectList {
      
  grid-template-columns: repeat(1,1fr);
  }
  .card{
    height: 320px;
}
}