@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans Condensed", sans-serif;

}

#root {
  color: #f0f2f9;
  background-color: #272833;
}

.App {
  margin: 0 auto;
  max-width: 1240px;

}


.breadcrumbs {

  margin-top: 70px;
  padding-bottom: 50px;
}

.breadcrumbs a {
  color: #a5b5ca;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;

}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 45px;
}

.navLink {
  font-size: 18px;
  font-weight: 400;
  color: #a5b5ca;
  opacity: .7;
  margin-bottom: 30px;
}

.footer {
  bottom: 0;
  flex: 0 0 0;
  padding: 140px 0;
  position: relative;
  z-index: 10;
}

.footer_block {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 60px;
  color: #f0f2f9;
  margin: 0 auto;
  max-width: 1240px;
}

.footerour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_links {
  margin-left: 40px;
  gap: 15px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.footer_links ul {
  flex-direction: column;
  gap: 1;
}

@media (max-width: 680px) {

  .footer_links {

    margin-left: 0px;
  }
}